[Unit]
Description=WebUI_led_control
After=multi-user.target
Conflicts=getty@tty.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/WebUI/app.py
StandardInput==tty-force

[Install]
WantedBy=multi-user.target
